* {
    box-sizing: border-box;
}

:root {
    --text-color-black-gray: #575d5e;
    --Primary-color-black-green: #143c3c;
    --Primary-color-black: #152427;
    --text-color-white: #fff;
    --Scondery-color-light-green: #e2eddf;
    --text-color-light-gray: #7d8188;
    --Scondery-color-gray: #6a8383;
    --Scondery-color-blue: #83a17d;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;

    line-height: var(--height);
    display: inline-block;
    min-width: 173px;
    color: var(--text-color-white);
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    background: var(--Primary-color-black-green);
    border: 1.5px solid #143c3c;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.fixed {
    position: sticky;
    top: -14px;
    z-index: 10;
    background: #fff;
}

.header-top {
    padding-top: 28px;
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 19px;
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    position: relative;
}

.navbar__link-active,
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: var(--Primary-color-black);
}

.navbar__link-active::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--Primary-color-black-green);
    bottom: -25px;
    left: 19px;
    position: absolute;
}

.action {
    margin-left: 69px;
}

.header__bar {
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
    margin-top: 13px;
}

.hero {
    margin-top: 103px;
}

.hero__inner {
    display: flex;
}

.hero__content {
    width: 39%;
    flex-shrink: 0;
    padding-top: 43px;
}

.hero__heading {
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
    width: 368px;
}

.hero__desc {
    margin-top: 20px;
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    width: 341px;
}

.hero__cta {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero-btn {
    margin-left: 36px;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero-btn__play {
    border-color: #143c3c transparent transparent #143c3c;
    border-width: 4px;
    border-style: solid;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(316deg);
    transition: 0.25s;
}

.hero-btn-img {
    width: 44px;
    height: 43px;
    object-fit: cover;
    border-radius: 50%;
    transform: rotate(45deg);
}

.hero-btn__text {
    color: #152427;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-left: 15px;
}

.hero-btn:hover .hero-btn__play {
    transform: rotate(137deg);
}

.hero-btn:hover .hero-btn-img {
    transform: rotate(165deg);
}

.hero__media {
    max-height: 543px;
    position: relative;
    flex-grow: 1;
}

.hero__thumb {
    display: flex;
    column-gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    transition: 0.25s;
}

.hero__img-bottom {
    margin-top: 77px;
}

.hero__background {
    background: #4dbb9a;
    filter: blur(137px);
    width: 340px;
    height: 340px;
    border-radius: 50%;
    position: absolute;
    right: 150px;
    top: 122px;
    z-index: -1;
}

.hero__flower,
.hero__drawing-line {
    position: absolute;
}

.hero__flower--top {
    position: absolute;
    left: -218px;
    top: -31px;
}

.hero__drawing-line--top {
    left: -172px;
    top: -32px;
}

.hero__flower--bottom {
    top: 471px;
    right: 1px;
}

.hero__drawing-line--bottom {
    top: 229px;
    right: 45px;
}

.clients {
    margin-top: 130px;
}

.clients__inner {
    padding: 85px 121px;
    background: var(--Scondery-color-light-green);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients__branch {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.clients-google {
    color: var(--Primary-color-black-green, #143c3c);
    font-size: 3.1rem;
    font-weight: 500;
}

.clients-slack--text {
    color: var(--Primary-color-black-green, #143c3c);
    font-size: 3.2rem;
    font-weight: 600;
    margin-left: 5px;
}

.clients-agworld--text {
    color: #163c35;
    font-size: 2.6rem;
    margin-left: 11px;
}

.clients-rioTinto {
    color: var(--Primary-color-black-green, #143c3c);
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.clients-heroku-text {
    color: var(--Primary-color-black-green, #143c3c);
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
    margin-left: 10px;
}

.clients__branch:hover {
    transform: scale(1.1);
}

.service {
    margin-top: 106px;
}

.service__inner {
    display: flex;
    align-items: center;
}

.service__title {
    color: var(--Primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.service__title::before {
    width: 25px;
    height: 1px;
    content: "";
    display: inline-block;
    background: var(--Primary-color-black);
    position: relative;
    top: -9px;
    margin-right: 21px;
}

.service__heading {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    max-width: 520px;
    margin-top: 12px;
}

.service__heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black);
    position: relative;
    top: -8px;
}

.service__control {
    margin-left: 422px;
    column-gap: 17px;
    display: flex;
}

.service__control-btn {
    border: none;
    outline: none;
    background: transparent;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #152427;
    background: #e2eddf;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__control-btn:hover {
    color: #fff;
    background: #143c3c;
    cursor: pointer;
}

.service__control-btn--right {
    rotate: 180deg;
}

.service__list {
    margin-top: 76px;
    display: flex;
    column-gap: 16px;
}

.service-item {
    flex: 1;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__img {
    transform: scale(1.1);
}

.service-item__thumb {
    width: 370px;
    height: 318px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.service-item__img {
    transition: 0.25s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service-item__body {
    padding: 24px 0 24px;
    border-radius: 0 0 20px 20px;
}

.service-item__heading {
    color: var(--Primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    margin-top: 18px;
    max-width: 268px;
}

.about-us {
    margin-top: 157px;
}

.about-us__inner {
    display: flex;
    column-gap: 64px;
}

.about-us__media {
    width: 52%;
    position: relative;
}

.about-us__flower {
    position: absolute;
    top: -31px;
    left: 46px;
}

.about-us__drawing-line {
    position: absolute;
    bottom: 118px;
    right: 46px;
}

.about-us__thumb {
    display: flex;
    column-gap: 20px;
}

.about-us__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 999px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about-us__img--bottom {
    margin-top: 77px;
}

.about-us-statistical {
    padding: 19px 23px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    position: absolute;
    bottom: 8px;
    right: -9px;
    font-family: "Public Sans";
    transition: 0.25s;
    cursor: pointer;
}

.about-us-statistical:hover {
    transform: scale(1.5);
}

.about-us-statistical span {
    display: block;
}

.about-us-statistical__title {
    color: var(--Primary-color-black, #152427);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about-us-statistical__blance {
    color: var(--text-color-black-gray);
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 6px;
}

.about-us-statistical__quantity {
    margin-top: 10px;
    color: var(--Primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-us-statistical__bar {
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
    margin-top: 3px;
    z-index: -1;
}

.about-us-statistical__bar-green {
    background: #83a17d;
    width: 40px;
    height: 2px;
}

.about-us-statistical__loading-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
}

.about-us-statistical__loading {
    color: var(--Primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-us-statistical__circle {
    margin-top: 3px;
}

.about-us-statistical__row {
    display: flex;
    justify-content: space-between;
}

.about-us-statistical__teams {
    color: var(--Primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-us-statistical__avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -10px;
    border: 1px solid #fff;
}

.about-us__content {
    flex: 1;
}

.about-us__title {
    color: var(--Primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.22;
}

.about-us__title::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black);
    position: relative;
    bottom: 5px;
    margin-right: 21px;
}

.about-us__heading {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    margin-top: 20px;
}

.about-us__desc {
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    margin-top: 11px;
}

.about-us-row {
    display: flex;
    align-items: center;
    margin-top: 36px;
}

.about-us-row__percent {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about-us-row__desc {
    margin-left: 24px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    max-width: 364px;
}

.about-us__bar {
    height: 1px;
    background: #83a17d;
    margin-top: 20px;
}

.process {
    margin-top: 79px;
    padding: 36px 0;
}

.process__title {
    color: var(--Primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.12;
}

.process__title::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black);
    position: relative;
    bottom: 5px;
    margin: 0 21px 0 7px;
}

.process__heading {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    max-width: 486px;
}

.process__heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black);
    position: relative;
    bottom: 7px;
    margin-left: 0;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    display: flex;
    padding: 57px 30px 21px;
    border-radius: 33px;
    position: relative;
    transition: 0.25s;
}

.process-item:hover {
    padding: 57px 30px 50px;
}

.process-item::after {
    content: "";
    display: block;
    width: 1131px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    position: absolute;
    bottom: 0;
}

.process-item:hover::after {
    display: none;
}

.process-item:hover {
    background: var(--Scondery-color-light-green);
}

.process-item__number {
    color: var(--Primary-color-black-green);
    font-size: 7.2rem;
    font-weight: 600;
}

.process-item__link {
    margin-left: 64px;
    margin-top: 15px;
}

.process-item__title {
    color: var(--Primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process-item__more {
    display: inline-block;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    line-height: 1;
    margin-top: 22px;
    display: none;
    transition: 0.25s;
}

.process-item:hover .process-item__more {
    display: block;
}

.process-item__more::after {
    content: "";
    display: block;
    width: 99px;
    height: 1px;
    background: #152427;
}

.process-item__desc {
    color: var(--text-color-light-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    margin-left: auto;
    width: 572px;
    margin-right: 11px;
}

.process-item:hover .process-item__desc {
    display: none;
}

.process-item__img {
    position: absolute;
    right: 92px;
    bottom: 0;
    display: none;
    transition: 0.25s;
}

.process-item:hover .process-item__img {
    display: inline-block;
}

.video {
    margin-top: 148px;
    padding: 116px 130px 63px;
    background: var(--Primary-color-black-green);
    position: relative;
}

.video__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.video__heading {
    color: #e7f9f9;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    max-width: 457px;
}

.video__heading::after {
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--Scondery-color-blue);
    position: relative;
    bottom: 8px;
}

.video__desc {
    color: var(--Scondery-color-gray);
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    max-width: 590px;
}

.video__browse {
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    margin-top: 13px;
    display: inline-block;
    display: flex;
    align-items: center;
}

.video__arrow-img {
    margin-left: 26px;
}

.video__inner {
    position: relative;
}
.video__drawing-line {
    position: absolute;
    z-index: 1;
    right: -46px;
    top: 6px;
}

.video__flower {
    position: absolute;
    z-index: 1;
    right: -44px;
    top: 99px;
}

.video__container {
    position: relative;
}

.video__clip {
    margin-top: 65px;
    border-radius: 22px;
    height: 544px;
    width: 100%;
    object-fit: cover;
}

.features {
    margin-top: 140px;
}

.features__heading {
    color: var(--Primary-color-black);
    text-align: center;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.features__desc {
    color: var(--text-color-light-gray);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    max-width: 547px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.features__list {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    column-gap: 45px;
}

.features-item {
    border-radius: 160px;
    border: 1.5px solid #cecece;
    text-align: center;
    align-self: flex-end;
    background: #fff;
    transition: 0.25s;
}

.features-item:hover {
    border-color: transparent;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.features-item:nth-child(1) {
    padding: 80px 37px 74px;
}

.features-item:nth-child(2) {
    padding: 60px 43px 103px;
    margin-bottom: 59px;
}

.features-item:nth-child(3) {
    padding: 43px 46px 121px;
}

.features-item__title {
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 24px;
}

.features-item__desc {
    max-width: 286px;
    color: var(--text-color-light-gray);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    margin-top: 9px;
}

.blog {
    margin-top: 184px;
}

.blog__title {
    color: var(--Primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.blog__title::before {
    width: 25px;
    height: 1px;
    content: "";
    display: inline-block;
    background: var(--Primary-color-black);
    position: relative;
    top: -6px;
    margin-right: 21px;
}

.blog__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__heading {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    margin-top: 10px;
    max-width: 571px;
}

.blog__heading::after {
    content: "";
    display: inline-block;
    width: 82px;
    height: 3px;
    background: var(--Primary-color-black);
    top: -8px;
    position: relative;
}

.blog__desc {
    max-width: 409px;
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.blog__list {
    margin-top: 90px;
    display: flex;
    column-gap: 30px;
}

.blog-item {
    flex: 1;
}

.blog-item__thumb {
    height: 317px;
    overflow: hidden;
    border-radius: 40px 40px 0 0;
}

.blog-item__img {
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0px 0px;
    object-fit: cover;
    display: block;
    transition: 0.25s;
}

.blog-item:hover .blog-item__img {
    transform: scale(1.1);
}

.blog-item__body {
    padding: 26px 33px 12px 0;
    border-radius: 0px 0px 20px 20px;
    transition: 0.25s;
    background: #fff;
}

.blog-item:hover .blog-item__body {
    padding-left: 30px;
    padding-right: 7px;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item__btn {
    --height: 26px;

    min-width: 107px;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    background: var(--Scondery-color-light-green);
    border-color: transparent;
    transition: 0.25s;
}

.blog-item:hover .blog-item__btn {
    background: var(--Primary-color-black-green);
    color: #fff;
}

.blog-item__heading {
    color: var(--Primary-color-black-green);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-top: 13px;
    min-width: 346px;
}

.blog-item__bar {
    width: 337px;
    height: 1px;
    background: #c4c4c4;
    margin-top: 39px;
}

.blog-item__right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.blog-item__date {
    color: var(--text-color-black-gray);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    display: block;
    margin-top: 16px;
}

.footer {
    background: var(--Primary-color-black-green);
    padding: 100px 0 50px;
    margin-top: 102px;
}

.footer__row {
    display: flex;
    align-items: center;
}

.footer__heading {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
}

.footer__form {
    display: flex;
}

.footer-form__input {
    margin-top: 25px;
    width: 354px;
    background: transparent;
    border: none;
    color: var(--Scondery-color-gray);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    outline: none;
}

.footer-form::after {
    content: "";
    display: block;
    width: 354px;
    height: 1px;
    background: var(--Scondery-color-gray);
    position: relative;
    bottom: -36px;
}

.footer-form__btn {
    border: none;
    outline: none;
    background: transparent;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.footer__social {
    margin-top: 84px;
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.footer__social-btn {
    width: 52px;
    height: 52px;
    display: inline-block;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #265252;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.25s;
}

.footer__social-btn:hover {
    background: #a75325;
    border-color: transparent;
}

.footer__column--right {
    margin-left: auto;
    display: flex;
    column-gap: 50px;
    font-family: "Public Sans";
}

.footer__title {
    color: var(--text-color-white);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.footer__list {
    margin-top: 6px;
}

.footer__Link {
    color: var(--Scondery-color-gray);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
    transition: 0.25s;
}

.footer__Link:hover {
    text-decoration: underline;
}

.footer__bar {
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
    margin-top: 45px;
}
